.Categorie {
    background-color: white;
    border-radius: 10px;
    width: 220px;
    height: 180px;
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.CategorieMain {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Categorie:hover {
    position: relative;
    bottom: 5px;
}

.CategorieImg img {
    width: 90px;
}

.Categorie a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .Categorie {
        width: 160px;
        height: 120px;
    }

    .CategorieImg img{
        width: 60px;
    }


    .CategorieMain {
        width: 160px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}